@charset "UTF-8";


@media  screen and (min-width: 1200px) {

  body {
    background-color: rgb(138, 135, 133);
  }

  .corpo {
    display: flex;
    flex-direction: row-reverse;
    background-color: #3d4d48;
    width: 1200px;
    height: 80vh;
    border-radius: 20px;
    position: relative;
    box-shadow: 2px 2px 10px #1c242191;
    align-items: center;
  }

  .imgback {
    display: flex;
    height: inherit;
  }

  .imagem {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
    border-top-left-radius: 0 ;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.logintext{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
  
.logintext > h1 {
  color: #dfdfdf;
  text-align: center;
  text-shadow: 1px 1px 5px #0405059c;
  font-size: 32px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.logintext > p {
  color: #dfdfdf;
  text-align: center;
  margin-bottom: 18px;
  font-size: 16px;
  height: fit-content;
}

.login > input {
  border-radius: 6px;
  padding: 8px;
}

.content {
  margin: 0 auto;
  margin-bottom: 50px;
}

  form {
    margin: 0 auto;
    width: 100%;
    height: 20%;
    object-fit: cover;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
  }
  
  .label-icon {
    display: block;
    font-size: 28px;
    color: #dfdfdf;
  }
  
  input {
    background-color: #dfdfdf;
  }
  
  .senha > input {
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 6px;
    padding: 8px;
  }

  .botao {
    display:flex;
    justify-content: center;
    margin-top: 10px;
    padding: 14px;
    max-width: 500px;
    width: 100vw;
    border-radius: 8px;
    background-color: #dfdfdf;
    border: 1px solid #dfdfdf;
    color: #3d4d48;
    font-weight: 700;
  }
  
  .botao:hover {
    cursor: pointer;
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
  }
  
  .vazio {
    background-color: #3d4d48;
    color: #dfdfdf;
  }
  
  .vazio:hover {
    border: 1px solid #a0d4c5;
    background-color: #3d4d48;
    color: #a0d4c5;
  }
  


}


@media  screen and (max-width: 1200px) and (min-width: 700px){
  body {
    background-color: rgb(138, 135, 133);
  }

  .corpo {
    margin: 32;
    display: flex;
    flex-direction: row-reverse;
    background-color: #3d4d48;
    width: 700px;
    height: 50vh;
    border-radius: 20px;
    position: relative;
    box-shadow: 2px 2px 10px #1c242191;
    align-items: center;
  }

  .imgback {
    display: flex;
    height: inherit;
  }

  .imagem {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
    border-top-left-radius: 0 ;
    width: 300px;
    height: 100%;
    object-fit: cover;
  }

.logintext{
    width: 500px;
    height: 70%;
    object-fit: cover;
}
  
.logintext > h1 {
  color: #dfdfdf;
  text-align: center;
  text-shadow: 1px 1px 5px #0405059c;
  font-size: 28px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.logintext > p {
  color: #dfdfdf;
  text-align: center;
  margin-bottom: 18px;
  font-size: 14px;
  height: fit-content;
}

.login > input {
  border-radius: 6px;
  padding: 8px;
}

.content {
  margin: 0 auto;
  position: absolute;
  left: -50px;
  
}

  form {
    margin: 0 auto;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
  }
  
  .label-icon {
    display: block;
    font-size: 24px;
    color: #dfdfdf;
  }
  
  input {
    background-color: #dfdfdf;
  }
  
  .senha > input {
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 6px;
    padding: 8px;
  }

  .botao {
    display:flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    max-width: 300px;
    width: 100vw;
    border-radius: 8px;
    background-color: #dfdfdf;
    border: 1px solid #dfdfdf;
    color: #3d4d48;
    font-weight: 700;
  }
  
  .botao:hover {
    cursor: pointer;
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
  }
  
  .vazio {
    background-color: #3d4d48;
    color: #dfdfdf;
  }
  
  .vazio:hover {
    border: 1px solid #a0d4c5;
    background-color: #3d4d48;
    color: #a0d4c5;
  }


}
    
